@media(max-width:1200px){
    html{
        font-size:93%;
    }
}

@media(max-width:1080px){
    html{
        font-size:90%;
    }
}

@media(max-width:1050px){
    html {
        font-size:87%;
    }
}

@media(max-width:1000px){
    html {
        font-size:85%;
    }
}

@media (max-width:970px){
    html {
        font-size:80%;
    }
}

@media(max-width:890px){
    html {
        font-size:75%;
    }
}

@media(max-width:800px){
    html {
        font-size:70%;
    }
}

@media(max-width:750px){
    html{
        font-size:65%;
    }
}

@media(max-width:700px) {
    html {
        font-size:60%;
    }
}

@media(max-width:650px){
    html{
        font-size:57%;
    }
}

@media(max-width:570px){
    html {
        font-size:52%;
    }
}

@media(max-width:510px) {
    html {
        font-size:47.10%;
    }
}

@media(max-width:465px) {
    html {
        font-size:43%;
    }
}

@media(max-width:410px) {
    html {
        font-size:38%;
    }
}

@media(max-width:360px){
    html {
        font-size:33.4%;
    }
    
}

@media(max-width:300px) {
    html {
        font-size:28%;
    }
}