:root {
    --red:#D00000;
    --dark-turquoise:#1CCAD8;
    --rich-black:#111111;
    --USAFA-blue:#0353A4;
    --rich-white:#EEE5E5;
    --white:#ffffff;
    --rich-black-fogra:#000411;
}

html {
    scroll-behavior: smooth;
}

body{
    height:100vh;
    width:100vw;
    transition: all 1s ease;
}

body::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}


body.dark {
    height:100vh;
    width:100vw;
    background:var(--rich-black);  
    color:white;
    transition: 1s ease;
}


.container {
    font-family:'Fira Sans', sans-serif;
   
    display: flex;
    flex-direction: column;
}



.container {
    background:linear-gradient(180deg,var(--USAFA-blue),var(--dark-turquoise)) fixed;
   
    width:100%;
    height:5rem;
   
    align-items: center;
    justify-content: center;
   
    text-transform: uppercase;
}

.container.dark {
    background:linear-gradient(180deg,rgb(51, 50, 50),var(--rich-black)) fixed;
}

.container_items {
    margin-top:1rem;
}

.menu-mobile {
    display: none;
    text-align: left;
    width:100%;
    background:var(--USAFA-blue);
}

.menu-mobile img {
    width:3rem;
    margin:5px;
    cursor: pointer;
}

.menu-mobile ul {
    background:var(--rich-white);
    opacity:0;
    transition: 1s;
    width:100%;
    position: absolute;
    top:3.8rem;
    left:0;
    text-align: center;
    text-transform: uppercase;
    font-family:'Fira Sans', sans-serif;
}

.menu-mobile ul li a {
    color:var(--rich-black-fogra);
    text-decoration: none;
    font:17px;
    padding:7px 0;
    display:block;
    transition: 100ms;
}

.menu-mobile ul li a:hover {
    background: #ccc;
}


.show-menu {
    opacity:1 !important;
}

.icon {
    position: absolute;
    top:1rem;
    left:2rem;
    background:var(--rich-black-fogra);
    width:30px;
    height:30px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon:before{
    content: '\f186';
    font-family: fontAwesome;
    color:white;
}

.icon.dark.icon:before{
    content: '\f185';
    color: var(--rich-black);
    position: absolute;
    background:var(--rich-white);
    width:30px;
    height:30px;
    border-radius:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_item {
    width:1rem;
    height:1rem;
}


.container_ul{
    display:inline-flex;
    list-style: none;
   
    margin-bottom:1rem;
}

.lista {
    list-style: none;
    position: relative;
    
    display: inline-flex;
    padding:1rem;
    padding-left:0.8rem;
    transition:all 0.8s ease;
}

.lista a:hover{
    color:var(--rich-black-fogra);
    transition:all 0.8s ease;
}


.lista a {
    text-decoration: none;
    color:var(--rich-white);
   
    transition:all 0.8s ease;
   
    border:transparent;
}

.contianer_main{
    background:var(--rich-black);
   
    width:100%;
    height:25rem;
    
    display: flex;
   
    color:var(--rich-white);
    font-family:'Fira Sans', sans-serif;
    transition: 1s all ease;
}

.contianer_main.dark{
    background:#080705;
    
    width:100%;
    height:25rem;
   
    display: flex;
   
    color:var(--rich-white);
    font-family:'Fira Sans', sans-serif;
    transition: 1s all ease;
}

.contianer_main img {
    align-items: center;
    justify-content: center;
    flex-direction: center;
}

#titulo{
    color:var(--USAFA-blue);
   
    font-size:5rem;
   
    margin:1.6rem;
    margin-left:0.8rem;
}

.txt {
    font-size:1rem;

    margin:1rem;
    padding-right:3rem;
}

.txt strong {
    color:var(--dark-turquoise);
}



.txt_sec {
    font-size:1.1rem;
   
    margin:2rem;
    margin-top:8rem;
    margin-left:rem;
}

.txt_sec strong {
    color: var(--dark-turquoise);
}

section {
    display: flex;
    flex-direction: column;
   
    width:45rem;
}

.container_perfil {
    display: flex;
    
    width:18rem;
    height:18rem;

    margin:2rem;
    
    align-items: center;
    justify-content: center;
}

#perfil {
    border-radius: 50%;
   
    display: block;
    width:clamp(20rem,17rem,12rem);
    height:clamp(20rem,17rem,12rem);
   
    margin:4.2rem 7rem 1rem 7rem;
}

.container_skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin: auto;
    margin-bottom:5rem;
}


.skills {
    display: inline-flex;
    margin-top:-2rem;
}

.skills li {
    display: inline-flex;
}

.skills_wordPress {
    background:var(--rich-white);
    padding:0.2rem;
    border-radius:10px;
}

.skills_items {
    margin:0.7rem;
   
    width:6.25rem;
    max-width:100px;
    height: 6.25rem;
    max-height:100px; 
    transform:scale(0.8);
    transition: all ease 0.3s;
}

.skills_items:hover{
    transform:scale(0.9) ;
}

#slider {
    display: flex;
    
    margin: auto;
    
    box-shadow:1px 2px 28px 2px rgb(0 0 0 / 41%);
    border:1px solid transparent;
    border-radius:7px;
    
    width:37.5rem;
    max-width:37.5rem;
    height:20rem;
    max-height:31.25rem;

    padding-top:5px;

    background: #fff;    
    position: relative;
}

#slider.dark {
    box-shadow:1px 2px 28px 2px rgb(999,999,999)
}

#slider img {
    opacity:0;
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    border-radius:7px;
    
    transition:opacity 800ms;
    
    object-fit: cover;
}

#slider img.selected{
    opacity: 1;
}

.about-father{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin:3rem;

    font-family:'Fira Sans', sans-serif;
}

.about {
    margin:auto;
}

.tittle{
    margin: auto;
    margin:1rem;
    margin-left:8rem;
    
    font-size:1.8rem;
    color: var(--USAFA-blue);
}

.about a{
    text-decoration: none;
    color: var(--dark-turquoise);
}

.about p{
    font-size: 1.2rem;
    margin: auto;
    margin-left:8rem;
}

hr {
    width:90%;
    max-width:1280px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;

    margin: auto;
}

.container_footer{
    display:inline-flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    margin-left:37%;

    font-family:'Fira Sans', sans-serif;
}

.list{
    display: inline-flex;
    list-style: none;
    align-items: center;
    
    padding:1rem;
    padding-left:0.8rem;

    margin: auto;
}

.list a {
    text-decoration: none;
    color:var(--rich-black);

    margin: auto;
}

.icons {
    height:2rem;
    width: 2rem;
    
    margin: auto;
    margin-bottom:0.5rem;
    margin-right:0.4rem;
    
    cursor: pointer;
    position: relative;
    
    transition:all 1s ease;
}

.icons:hover{
    transition:all 1s ease;
}

.titulo_email {
    font-size:1.3rem;
}

.btn {
    padding: 0.8rem 8rem;
    
    border-radius: 8px;
    border: 2px solid var(--USAFA-blue);
    
    margin:1rem;
    
    background: transparent;
    color:var(--rich-black-fogra);
    
    font-size:1rem;
    
    cursor: pointer;
    
    transition:all 1s ease;
}

.btn.dark {
    padding: 0.8rem 8rem;
    
    border-radius: 8px;
    border: 2px solid var(--USAFA-blue);
    
    margin:1rem;
    
    background: transparent;
    color:var(--rich-white);
    
    font-size:1rem;
    
    cursor: pointer;
    
    transition:all 1s ease;
}

.btn:hover{
    background:var(--USAFA-blue);
    color:var(--rich-white);
    
    transition:all 1s ease;
}

.l0{ 
    color:black;
}

.l0.dark {
    color: white;
}

.l1{ 
    color:black;
}

.l1.dark {
    color: white;
}

.l2{ 
    color:black;
}

.l2.dark {
    color: white;
}

@media(max-width:760px){
    .menu-mobile{display: block;}
    .container{display: none;}
}